.topContainer{
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  color: var(--textColor);
  position: relative;
  min-height: 100vh;
}
.light{
  --bg:white;
  --textColor:black;
  --editIcon:green;
  --deleteIcon:red;
  --toggleBg:black;
}
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;

}
html,body{
  background-color: var(--bg);
  color: var(--textColor);
}
.container{
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 10px;
  height: 100%;
}

.dark{
  --bg:black;
  --textColor:rgb(232, 222, 222);
  --editIcon:green;
  --deleteIcon:red;
  --toggleBg:white;

}